@import '../../../assets/partials/variables';

.row  {
 div{
    text-align: center;
}
   
}

h1 {
    font-family: $titleFont;
    font-size: 1.7em;
    margin-top: 30px;
}

.col-12 {
    margin-bottom: 50px;
    p {
        color: $terciaryColor;
    }

    hr {
        width: 25%;
    }
}

.photo {
    background-image: url('../../images/ALEX2.jpg');
    width: 250px;
    height: 250px;
    background-position: center;
    background-size: cover;
    display: inline-block;
    border: 3px solid $primaryColor;
    border-radius: 50%;

}

