<div class="container">
    <!-- Column -->
    <div class="container__column col-12">
        <img src="https://i.pinimg.com/236x/c9/f9/02/c9f9021e233d8bdb785099b458f3cade--leonard-dicaprio-men-portrait.jpg"
            alt="">
        <h1>Nicolás Carrera</h1>

        <p>One of two columns</p>
    </div>
    <div class="container__column col-12">
        <img src="https://i.pinimg.com/236x/c9/f9/02/c9f9021e233d8bdb785099b458f3cade--leonard-dicaprio-men-portrait.jpg"
            alt="">
        <h1>Nicolás Carrera</h1>

        <p>One of two columns</p>
    </div>

    <!-- Repeat with other columns -->
    ...
</div>




<!-- <div class="container">
    <div class="row">
        <div class="col-12 col-sm-4 photo">
            <img src="https://i.pinimg.com/236x/c9/f9/02/c9f9021e233d8bdb785099b458f3cade--leonard-dicaprio-men-portrait.jpg"
                alt="">
            <h1>Nicolás Carrera</h1>

            <p>One of two columns</p>
        </div>
        <div class="col-12 col-sm-4 photo">
            <img src="https://i.pinimg.com/236x/c9/f9/02/c9f9021e233d8bdb785099b458f3cade--leonard-dicaprio-men-portrait.jpg"
                alt="">
            <h1>Alejandro Cabello</h1>

            <p>One of two columns</p>
        </div>
    </div>
</div> -->