<div class="container">
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="photo"></div>

            <h1>Nicolás Carrera</h1>
            <hr>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum perspiciatis aperiam, officiis id ab
                natus eos corrupti obcaecati sapiente velit dicta voluptatem repellendus unde commodi aliquid facilis
                sint sed dolorum?</p>
        </div>
        <div class="col-12 col-md-6">
            <div class="photo"></div>

            <h1>Alejandro Cabello</h1>
            <hr>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti itaque laudantium vel omnis quibusdam
                deserunt illum. Tempore, facilis laborum eos rem recusandae corporis at placeat repellendus aliquid
                nostrum minima cum.</p>
        </div>
    </div>
</div>