@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Varela+Round&display=swap');

$titleFont: 'Roboto Mono', monospace;
//$titleFont: 'Varela Round', sans-serif;
$primaryColor: black;
$secondaryColor: #BDCC31;
$terciaryColor: #a39e9e;


