@import '../../../assets/partials/variables';

main {
    margin-left: 50px;
    margin-right: 50px;
}

nav {
    a {
    text-decoration: none;
    color: black;
    font-family: $titleFont;
    cursor: pointer; 
    padding: 10px;
    padding-top: 30px;
    margin-bottom: 100px;
    }

    .logo {
        img {
            margin-right: 20px;
        }

        a {
            font-size: 1.7em;
            span:first-child {color: $primaryColor};
            span:nth-child(3n) {color: $secondaryColor};
            span:last-child {color: $terciaryColor};
        }

    }

    .links {
        :hover {
            color: $secondaryColor
        }
    }

    // .active {
    //     color: $secondaryColor;
    // }
}

